; City radius at start = 15

; City radius increased with Mass Transit before Theology
[effect_mass_transit_work_area]
type    = "City_Radius_Sq"
value   = 6
reqs    =
    { "type",     "name",         "range",  "present"
      "Building", "Mass Transit", "City",   TRUE
    }

; City radius increased after Theology
[effect_theology_work_area]
type    = "City_Radius_Sq"
value   = 3
reqs    =
    { "type",     "name",         "range",  "present"
      "Tech",     "Theology",     "Player", TRUE
    }

