; Vision benefit from fortress watchtowers
[effect_fortress_vision]
type    = "Unit_Vision_Radius_Sq"
value   = 18
reqs    =
    { "type",        "name",      "range"
      "VisionLayer", "Main",      "Local"
      "Extra",       "Fortress",  "Local"
      "Tech",        "Astronomy", "Player"
    }

[effect_airbase_vision]
type    = "Unit_Vision_Radius_Sq"
value   = 18
reqs    =
    { "type",        "name",    "range"
      "VisionLayer", "Main",    "Local"
      "Extra",       "Airbase", "Local"
    }

; Base vision range - radius of vision is sqrt(5) = 2.24 - this is intentionally smaller than the city working area
[effect_city_vision]
type    = "City_Vision_Radius_Sq"
value   = 5
reqs    = 
    { "type",        "name", "range"
      "VisionLayer", "Main", "Local"
    }

; 5 + 5 = 10
[effect_city_vision_1]
type    = "City_Vision_Radius_Sq"
value   = 25
reqs    =
    { "type",        "name",        "range"
      "VisionLayer", "Main",        "Local"
      "Tech",        "Electricity", "Player"
    }

; Vision benefit from mountains (for every land unit)
[effect_mountains_vision]
type    = "Unit_Vision_Radius_Sq"
value   = 18
reqs    =
    { "type",        "name",       "range", "present"
      "VisionLayer", "Main",       "Local", TRUE
      "Terrain",     "Mountains",  "Local", TRUE
      "UnitClass",   "Sea",        "Local", FALSE
      "UnitClass",   "Trireme",    "Local", FALSE
      "UnitClass",   "Helicopter", "Local", FALSE
      "UnitClass",   "Levitating", "Local", FALSE
      "UnitClass",   "Air",        "Local", FALSE
      "UnitClass",   "Missile",    "Local", FALSE
    }

